.appMover .navbar-fixed-top {
    margin-left: 250px;
}

.appMover #page-content-header {
    background: #404040;
    top: 0;
    height: 60px;
    width: 100%;
}

.appMover #page-content-body {
    margin-top: 70px;
    margin-bottom: 50px;
}

.appMover #page-content-footer {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background: #8C8C8C;
}

.appMover #button-bar {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.appMover .title {
    color: rgba(255, 255, 255, 0.8);
    float: left;
    font-size: 36px;
    margin-top: 10px;
    padding-left: 15px;
}

.appMover #left {
    width: 48%;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
}

.appMover #right {
    width: 48%;
    float: right;
    margin-right: 1%;
    margin-left: 1%;
}

.appMover .panel-heading {
    background-color: #535D5A;
    border-color: #535D5A;
}


/* Dialog box css */

.ngdialog.ngdialog-theme-plain .ngdialog-content {
    font-family: 'QlikView Sans', sans-serif
}

.ngdialog {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    transition: opacity 200ms ease-out;
    opacity: 1.0;
    z-index: 10;
    overflow: initial;
    overflow-y: auto
}

.ngdialog-content {
    position: relative;
    border-radius: 3px;
    margin: auto;
    min-width: 250px;
    max-height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    color: #595959;
    background-color: transparent;
    -webkit-animation: ngdialog-flyin .5s;
    animation: ngdialog-flyin .5s
}

.ngdialog-content .description {
    margin-bottom: 10px
}

.ngdialog-close:before {
    content: ""
}